* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{height:100%; width:100%
}

body {
    font-family: "Railway", "Arial", sans-serif;
  }
    .container {
    background-color: rgba(252, 182, 90, 0.774);
    height: 100%;width:100%;
  }
  .header{
    width:100%;
    display:inline-flex;
  }
   
  .pink {
    color: rgb(250, 225, 229);
    text-decoration: none;
  }

  .register {
    text-transform: uppercase;
  }
  
  .sidebar {
    background-color: rgb(0, 0, 0);
    display: inline-table;
    float: right;
    width: 50%;
    height: 100%;
  }
  
  .main {
    background-color: rgb(250, 225, 229);
    display: inline-block;
    width: 50%;
    float: left;
    height: 100%;
  }
  